/* === Google Font ===*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* === Variables Define ===*/

:root {
    --primary-color: #3525D3;
    --white-color: #fff;
    --black-color: #3C4A57;
    --light-gray: #E4E8EE;
}


/* === Body CSS ===*/

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


/* === Main Content CSS ===*/

.wrapper {
    border: solid 1px #ccc;
    /* softer border color */
    border-radius: 10px;
    /* less pronounced border-radius for a more modern look */
    padding: 30px 20px;
    /* adjusted padding */
    max-width: 668px;
    width: calc(100% - 40px);
    /* factor in padding */
    margin: 5% auto 0;
    /* add some top margin to move form lower than logos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* subtle shadow for depth */
    background: #fff;
    /* solid background color */
}

.wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/images/login_bg.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}

.logos-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* Add some space between the logos and the form */
}

.school-logo {
    max-width: 80px;
    /* Adjust the size as needed */
    margin: 0 10px;
    /* Add some horizontal spacing if needed */
}

.wrapper .headline {
    top: 10%;
    text-align: center;
    padding-bottom: 48px;
}

.wrapper .headline h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
}

.wrapper .form {
    max-width: 350px;
    width: 100%;
    margin: auto;
}

.wrapper .form-group {
    margin-bottom: 15px;
}

.wrapper .form-group input {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.1px;
    padding: 11px 15px;
    height: 48px;
    border-radius: 5px;
    color: var(--black-color);
    border: 1px solid #e4e8ee;
    box-shadow: none;
    width: 100%;
}

.wrapper .form-group input:focus {
    outline: none;
}

.wrapper .form-group input::placeholder {
    color: var(--black-color);
    font-weight: 400;
    font-size: 14px;
}

.wrapper .btn {
    width: 100%;
    margin: 15px 0 30px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 700;
    padding: 12px 29px;
    height: 48px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    color: var(--white-color);
    background: #8a0404;
    /* Use a more subdued color */
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.wrapper .btn:hover {
    background: rgb(225, 63, 63);
}

.wrapper .btn:focus {
    outline: none;
}

.wrapper .account-exist {
    color: var(--black-color);
    border-top: 1px solid var(--light-gray);
    padding-top: 20px;
    text-align: center;
}

.wrapper .account-exist a {
    color: var(--primary-color);
}

.wrapper .forget-password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.wrapper .forget-password a {
    color: var(--primary-color);
}

.wrapper .forget-password .check-box {
    font-size: 15px;
    color: var(--black-color);
}

.signup.inActive {
    display: none;
}

.signin {
    display: none;
}

.signin.active {
    display: block;
}

@media (max-width:1030px) {
    .wrapper::before {
        left: -25%;
        min-height: 60vh;
        height: 500px;
    }
}

@media (max-width:767px) {
    .wrapper {
        max-width: 550px;
    }
    .wrapper .headline h1 {
        font-size: 22px;
        line-height: 25px;
    }
}

.btn-dashboard {
    background-color: #2d2d2d;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    transition: background-color 0.3s;
}

.btn-dashboard:hover {
    background-color: #9e9e9e;
}