/* Navbar Styles */

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 65px;
    /* Retracted by default */
    background-color: #1b325f;
    align-items: center;
    padding: 5px;
    z-index: 5;
    overflow-y: auto;
    transition: width 0.5s ease-in-out;
    overflow: hidden;
}

#navbar::-webkit-scrollbar,
#navbar::-ms-overflow-style,
#navbar::-moz-scrollbar-width {
    display: none;
}

#navbar div,
#navbar a {
    font-size: 17px;
    color: white;
    text-decoration: none;
}

#navbar a {
    color: rgb(221, 221, 221);
    display: flex;
    align-items: center;
    padding: 15px;
}

#navbar i {
    margin-right: 0;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a:hover {
    color: white;
}

#toggle-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    transition: font-size 0.25s ease-out, color 0.25s;
}

#toggle-nav-btn:hover {
    cursor: pointer;
    font-size: 40px;
    color: rgb(187, 241, 255);
}


/* Navbar Additional Styles */

.nav-title,
.nav-link {
    padding: 15px;
    display: flex;
    align-items: center;
}

.nav-text {
    margin-left: 10px;
    opacity: 1;
    transition: opacity 0.3s;
}

.nav-title .nav-text {
    white-space: normal;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.082);
}