.invite-code-container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: auto;
}

.invite-code-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 4px;
}

.invite-code-box {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #eef2f7;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 18px;
    color: #007bff;
    margin-bottom: 8px;
    width: auto;
}

.invite-code-box .copy-btn {
    background: transparent;
    border: none;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.invite-instruction {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
}

#qrCode {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Set the width to 100% of the container */
    margin-top: 15px;
}


/* Custom CSS for an even larger modal if modal-xl does not suffice */

.modal-xl {
    max-width: 1200px;
    /* You can set this to the width you require */
}

@media print {
    body {
        font-size: 12pt;
    }
    /* Hide elements not needed in the printout */
    .no-print {
        display: none;
    }
}

.custom-table-container {
    margin-top: 20px;
}

.button-grid button {
    margin-bottom: 5px;
}

.modal-header .close {
    margin-top: -1.5rem;
}

.modal-body {
    padding: 20px;
}

.radio-group .card-block {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    width: 100px;
    margin: 5px;
}

.radio-group .card-block:hover {
    border-color: #007bff;
}

.radio-group .card-block.selected {
    border-color: #007bff;
    background-color: #e9ecef;
}

.radio-group .image-icon img {
    width: 30px;
    height: 30px;
}

.radio-group .sub-desc {
    margin-top: 5px;
}

.sub-heading {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.sub-heading i {
    margin-right: 10px;
    color: #007bff;
}

.service-type {
    font-size: 1.2rem;
    color: #555;
}