@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    /* Added to provide contrast */
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.stat-card,
.stat-card-default {
    background: #fff;
    padding: 20px;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    height: auto;
    /* Adjusted to auto to allow for content flow */
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nowrap {
    white-space: nowrap;
}

.stat-card__icon-circle {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    background: rgba(0, 123, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-card__icon-circle i {
    /* font-size: clamp(1rem, 1.8vw, 1.8rem); */
    /* Responsive font-size */
    /* color: #007bff; */
}

.stat-card__icon.stat-card__icon--success .stat-card__icon-circle {
    background: rgba(40, 167, 69, 0.2);
}

.stat-card__icon.stat-card__icon--success .stat-card__icon-circle i {
    color: #28a745;
}

.stat-card__icon.stat-card__icon--danger .stat-card__icon-circle {
    background: rgba(220, 53, 69, 0.2);
}

.stat-card__icon.stat-card__icon--danger .stat-card__icon-circle i {
    color: #dc3545;
}

.stat-card__icon.stat-card__icon--warning .stat-card__icon-circle {
    background: rgba(255, 193, 7, 0.2);
}

.stat-card__icon.stat-card__icon--warning .stat-card__icon-circle i {
    color: #ffc107;
}

.stat-card__icon.stat-card__icon--primary .stat-card__icon-circle {
    background: rgba(0, 123, 255, 0.2);
}

.stat-card__icon.stat-card__icon--primary .stat-card__icon-circle i {
    color: #007bff;
}


/* Responsive styles for mobile screens */


/* Responsive styles */

@media (max-width: 768px) {
    .main-content {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .stat-card,
    .stat-card-default {
        padding: 15px;
    }
    .stat-card__icon-circle {
        height: 2rem;
        width: 2rem;
    }
}